@import '../colors.css';

* {
    background-image: none;
    font-size: 24px;
}

window {
   background-color: rgba(0, 0, 0, 0.9);
}

button {
    color: @fg;
    background-color: @bg0;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @bg_blue;
    background-size: 20%;
}

button:hover {
    background-color: @bg_blue;
    background-size: 25%;
    border-radius: 50px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 50px 50px 0px 50px;
    margin : 288px 0px 0px 1100px;
}

button:hover#logout {
    border-radius: 50px 0px  50px 50px;
    margin : 0px 0px 288px 1100px;
}

button:hover#shutdown {
    border-radius: 50px 50px  50px 0px;
    margin : 288px 1100px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px 50px  50px 50px;
    margin : 0px 1100px 288px 0px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 80px 0px 0px 0px;
    margin : 360px 0px 0px 1204px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 80px;
    margin : 0px 0px 360px 1204px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 80px 0px 0px;
    margin : 360px 1204px 0px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 0px 80px 0px;
    margin : 0px 1204px 360px 0px;
}
